{# 
=================================================
This template extends the base.html.twig template and displays a form that is created using the createForm method.
The form fields are generated based on the SystemStatusType class that you have already defined.
The form_start and form_end functions are used to generate the opening and closing <form> tags,
while the form_widget function is used to render the individual form fields.
=================================================
#}
{% extends 'base.html.twig' %}

{% block title %}Edit System Status{% endblock %}

{% block body %}
    <h1>Edit System Status</h1>

    {{ form_start(form) }}
        {{ form_start(form) }}
        {{ form_row(form.system) }}
        {{ form_row(form.status) }}
        {# {{ form_row(form.updatedAt) }} #}
        {#{{ form_row(form.responsible_person) }}#}
        {#{{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save</button>#}
    {{ form_end(form) }}
{% endblock %}
