{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
   <div class="row">
      <div class="col-12 col-md-12 mb-4">
         <form id="searchForm">
               <div class="input-group">
                  <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                  <div class="input-group-append">
                     <button type="submit" class="btn btn-primary"><i class="fa fa-spinner fa-spin" style="font-size:16px"></i></button>
                  </div>
               </div>
         </form>
      </div>
   </div>
   {# Show a message if no system is found in search #}
   <div class="row">
      <div class="col-12 mb-3">
         <div id="notFoundMessage" class="alert alert-danger" style="display: none;">
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-12 col-md-12">
         <div class="table-responsive mx-auto w-100">
            <table class="table border table-sm table-striped" id="table" style="font-size: 12px">
               <thead>
                  <tr>
                     <th>System</th>
                     <th>Status</th>
                     <th>Info</th>
                     <th>Updated</th>
                     {% if is_granted('ROLE_ADMIN') %}
                     <th>Responsible Person</th>
                     <th>Settings</th>
                     {% endif %}
                  </tr>
               </thead>
               <tbody>
                  <!--Sort List Twig langauge -->
                  {% set statuses_sorted = statuses|sort((a, b) => (a.status == 'Available') ? -1 : ((b.status == 'Available') ? 1 : (a.status == 'In progress') ? -1 : ((b.status == 'In progress') ? 1 : (a.status == 'Update') ? -1 : ((b.status == 'Update') ? 1 : (a.status == 'Down') ? -1 : ((b.status == 'Down') ? 1 : 0))))) %}
                  {% for status in statuses_sorted %}
                  <tr>
                     <td><a href="{{ path('app_system_status_show', {'id': status.id}) }}">{{ status.system }}</a></td>
                     <td>
                        {% if status.status == 'Available' %}
                        <div class="status-circle bg-success"></div>
                        <span class="status-text">Available
                        <span class="sr-only">(available)</span>
                        </span>
                        {% elseif status.status == 'Maintenance' %}
                        <div class="status-circle bg-warning"></div>
                        <span class="status-text">Maintenance
                        <span class="sr-only">(Maintenance)</span>
                        </span>
                        {% elseif status.status == 'Down' %}
                        <div class="status-circle bg-danger"></div>
                        <span class="status-text">Down
                        <span class="sr-only">(down)</span>
                        </span>
                        {% endif %}
                     </td>
                     <td>{{status.info}}</td>
                     <td>{{ status.updatedAt|date('Y-m-d H:i:s') }}</td>
                     {% if is_granted('ROLE_ADMIN') %}
                     <td>{{ status.responsible_person }}</td>
                     <td>
                        <div class="dropdown">
                           <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-cogs"></i>
                           </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="{{ path('app_system_status_edit', {id: status.id}) }}">Edit</a>
                              <a class="dropdown-item" href="{{ path('app_system_status_delete', {'id': status.id}) }}">Delete</a>
                              <a class="dropdown-item" href="{{ path('app_system_status_show', {'id': status.id}) }}">Show</a>
                              <a class="dropdown-item" href="{{ path('app_system_status_maintenance', {'id': status.id}) }}">maintenance</a>
                              <a class="dropdown-item" href="{{ path('app_system_status_incident', {'id': status.id}) }}">Incidents</a> 
                           </div>
                        </div>
                     </td>
                     <td></td>
                     {% endif %}
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function() {
      // Prevent form submission
      $('#searchForm').submit(function(event) {
         event.preventDefault();
      });

      // Filter table rows based on search query
      $('#searchInput').keyup(function() {
         var searchQuery = $(this).val().toLowerCase();
         var found = false; // Flag to track if system is found

         $('#table tbody tr').each(function() {
            var system = $(this).find('td:first-child').text().toLowerCase();
            var info = $(this).find('td:nth-child(4)').text().toLowerCase();

            if (system.includes(searchQuery) || info.includes(searchQuery)) {
               $(this).show();
               found = true;
            } else {
               $(this).hide();
            }
         });

         // Show message if system is not found
         if (!found) {
            $('#notFoundMessage').text('Sorry, the system you are searching for was not found.').show();
         } else {
            $('#notFoundMessage').hide();
         }
      });
   });
</script>

{% endblock %}