{% extends 'base.html.twig' %}

{% block body %}
   <div class="container-fluid">
         <h6 class="display-6 text-center btn-outline-primary">{{ status.system }}</h6>
   </div>
   <div class="card mb-3">
    <div class="card-body">
        <table class="table table-striped">
            <tbody>
                {# <tr>
                    <th>System:</th>
                    <td>{{ status.system }}</td>
                </tr> #}
                <tr>
                    <th>Status:</th>
                    <td>
                        {% if status.status == 'Available' %}
                            <div class="status-circle bg-success"></div>
                            <span class="status-text">Available <span class="sr-only">(available)</span></span>
                        {% elseif status.status == 'In progress' %}
                            <div class="status-circle bg-warning"></div>
                            <span class="status-text">In Progress <span class="sr-only">(in progress)</span></span>
                        {% elseif status.status == 'Maintenance' %}
                            <div class="status-circle bg-warning"></div>
                            <span class="status-text">Maintenance<span class="sr-only">(Maintenance)</span></span>
                        {% elseif status.status == 'Down' %}
                            <div class="status-circle bg-danger"></div>
                            <span class="status-text">Down <span class="sr-only">(down)</span></span>
                        {% endif %}
                    </td>
                </tr>
                
                <tr>
                    <th>Responsible Person:</th>
                    <td>{{ status.responsible_Person }}</td>
                </tr>
                 <tr>
                    <th>Information:</th>
                    <td>{{ status.info }}</td>
                </tr>
                <tr>
                    <th>Created:</th>
                    <td>{{ status.createdAt|date('m/d/Y H:i') }}</td>
                </tr>
                <tr>
                    <th>Updated:</th>
                    <td>{{ status.updatedAt|date('m/d/Y H:i') }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if status.status == 'Maintenance' %}
                    <tr>
                        <th>Maintenance Start:</th>
                        <td>{{ status.maintenanceStart|date('m/d/Y H:i') }}</td>
                    </tr>
                    <tr>
                        <th>Maintenance End:</th>
                        <td>{{ status.maintenanceEnd|date('m/d/Y H:i') }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_system_status') }}" class="btn btn-secondary">Back to List</a>
{% else %} 
<a href="{{ path('app_subscription') }}" class="btn btn-secondary">Back to List</a>
{% endif %}
{% endblock %}
