{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
     <div class="row">
      <div class="col-12 col-md-12 mb-4">
         <form id="searchForm">
            <div class="input-group">
               <input type="text" id="searchInput" class="form-control" placeholder="Search...">
               <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">Search</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   {# Show a message if no system is found in search #}
   <div class="row">
      <div class="col-12 mb-3">
         <div id="notFoundMessage" class="alert alert-danger" style="display: none;">
       
         </div>
      </div>
   </div>

   <!-- Table content here -->
   <div class="row">
      <div class="col-12">
         {#
         <h1 class="text-center mt-5 mb-3">System Status</h1>
         #}
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <div class="table-responsive">
            <table class="table border" id="table">
               <thead>
                  <tr>
                     <th>System</th>
                     <th>Status</th>
                     <th>Updated</th>
                     <th>Info</th>
                     <th>Subscription</th>
                  </tr>
               </thead>
               <tbody>
                  {% set availableSystems = [] %}
                  {% set inProgressSystems = [] %}
                  {% set updateSystems = [] %}
                  {% set downSystems = [] %}
                  {% for status in statuses %}
                  {% if status.status == 'Available' %}
                  {% set availableSystems = availableSystems|merge([status]) %}
                  {% elseif status.status == 'Maintenance' %}
                  {% set inProgressSystems = inProgressSystems|merge([status]) %}
                  {% elseif status.status == 'Update' %}
                  {% set updateSystems = updateSystems|merge([status]) %}
                  {% elseif status.status == 'Down' %}
                  {% set downSystems = downSystems|merge([status]) %}
                  {% endif %}
                  {% endfor %}
                  {% set sortedSystems = availableSystems|merge(inProgressSystems)|merge(updateSystems)|merge(downSystems) %}
                  {% for status in sortedSystems %}
                  <tr>
                     <td>{{ status.system }}</td>
                     <td>
                        {% if status.status == 'Available' %}
                        <div class="status-circle bg-success"></div>
                        <span class="status-text">Available <span class="sr-only">(available)</span></span>
                        {% elseif status.status == 'Maintenance' %}
                        <div class="status-circle bg-warning"></div>
                        <span class="status-text">Maintenance <span class="sr-only">(Maintenance)</span></span>
                        {% elseif status.status == 'Update' %}
                        <div class="status-circle bg-warning"></div>
                        <span class="status-text">Update<span class="sr-only">(update)</span></span>
                        {% elseif status.status == 'Down' %}
                        <div class="status-circle bg-danger"></div>
                        <span class="status-text">Down <span class="sr-only">(down)</span></span>
                        {% endif %}
                     </td>
                     <td>{{ status.updatedAt|date('Y-m-d') }}</td>
                     <td>{{ status.info }}</td>
                     <td>
                        <form action="{{ path('app_home_subscribe', {'id': status.id}) }}" method="post">
                           <div class="form-check form-switch">
                              {% set isSubscribed = false %}
                              {% for subscription in status.subscriptions %}
                              {% if subscription.user == app.user and subscription.isSubscribed %}
                              {% set isSubscribed = true %}
                              {% endif %}
                              {% endfor %}
                              <input class="form-check-input" type="checkbox" name="subscribe" id="subscribe{{ status.id }}" {% if isSubscribed %}checked{% endif %} onchange="this.form.submit()">
                              <label class="form-check-label" for="subscribe{{ status.id }}">
                              {% if status.subscription is defined and status.subscription.isSubscribed %}
                              Unsubscribe
                              {% else %}
                              Subscribe
                              {% endif %}
                              </label>
                           </div>
                        </form>
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{# JavaScript Search file: /public/asset/js/search.js #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function() {
      // Prevent form submission
      $('#searchForm').submit(function(event) {
         event.preventDefault();
      });

      // Filter table rows based on search query
      $('#searchInput').keyup(function() {
         var searchQuery = $(this).val().toLowerCase();
         var found = false; // Flag to track if system is found

         $('#table tbody tr').each(function() {
            var system = $(this).find('td:first-child').text().toLowerCase();
            var info = $(this).find('td:nth-child(4)').text().toLowerCase();

            if (system.includes(searchQuery) || info.includes(searchQuery)) {
               $(this).show();
               found = true;
            } else {
               $(this).hide();
            }
         });

         // Show message if system is not found
         if (!found) {
            $('#notFoundMessage').text(' Sorry, the system you are searching for was not found.').show();
            $('#table').hide();
         } else {
            $('#notFoundMessage').hide();
            $('#table').show();
         }
      });
   });
</script>


{% endblock %}
