{# {% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Scheduled Maintenance Calendar</h1>
        <div class="row">
        <div id="calendar"></div></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'local', // Set the calendar's timezone to local
                initialView: 'dayGridMonth',
                events: [
                    {% for event in maintenanceEvents %}
                        {
                            title: '{{ event.system }}',
                            start: '{{ event.maintenanceStart|date('Y-m-d\TH:i:s') }}',
                            end: '{{ event.maintenanceEnd|date('Y-m-d\TH:i:s') }}',
                            url: '{{ path('app_scheduled_maintenance', {'id': event.id}) }}'
                        },
                    {% endfor %}
                ],
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                bootstrapFontAwesome: {
                    prev: 'fa-chevron-left',
                    next: 'fa-chevron-right'
                },
                contentHeight: 'auto',
                aspectRatio: 1.5, // Adjust the value as needed for optimal display on different screen sizes
                firstDay: 1 // Set Monday as the first day of the week (0: Sunday, 1: Monday, ...)
            });
            calendar.render();
        });
    </script>

    {# Dump the maintenance events for debugging purposes 
    {{ dump(maintenanceEvents) }}#}
{#{% endblock %} #}

{# {% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Scheduled Maintenance</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>System</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Responsible Person</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for event in maintenanceEvents %}
                    <tr>
                        <td>{{ event.system.name }}</td>
                        <td>{{ event.maintenanceStart|date('Y-m-d H:i:s') }}</td>
                        <td>{{ event.maintenanceEnd|date('Y-m-d H:i:s') }}</td>
                        <td>{{ event.responsible_person }}</td>
                        <td>{{ event.info }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block body %}
{# <div class="container">
    <h1 class="text-center">Scheduled Maintenance Calendar</h1>
    <div class="row">
        <div class="col-md-12">
            <div id="calendar" class="row justify-content-center"></div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'local', // Set the calendar's timezone to local

            initialView: 'dayGridMonth',
            events: [
                {% for event in maintenanceEvents %}
                    {
                        id: 'x',
                        title: '{{ event.system.name }}',
                        borderColor: '{% if event.status.name == 'Maintenance' %}rgb(255, 201, 73){% endif %}',
                        start: '{{ event.maintenanceStart|date('Y-m-d H:i:s') }}',
                        end: '{{ event.maintenanceEnd|date('Y-m-d H:i:s') }}',
                        url: '{{ path('app_system_status_show', {'id': event.id}) }}'
                    },
                {% endfor %}
            ],
              {# events: [
                    {
                        id: 'a',
                        title: 'my event',
                        start: '2023-05-27'
                    }
                ], #}
            {# headerToolbar: { 
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            themeSystem: 'bootstrap',
            bootstrapFontAwesome: {
                prev: 'fa-chevron-left',
                next: 'fa-chevron-right'
            },
            contentHeight: 'auto',
            aspectRatio: 1.5, // Adjust the value as needed for optimal display on different screen sizes
            firstDay: 1 // Set Monday as the first day of the week (0: Sunday, 1: Monday, ...)
        });

        calendar.render();
    });
</script> #}
{# {{ dump(maintenanceEvents) }} #}
<div class="container">
   
    <div class="row">
        <div class="col-md-12">
             <h1 class="text-center">Scheduled Maintenance Calendar</h1>
        </div>
    </div>
</div>
 <div class="d-flex justify-content-between mb-3">
  <div>
    <a href="{{ path('app_scheduled_maintenance', { 'date': start_date|date_modify('-1 month')|date('Y-m-d') }) }}" class="btn btn-primary">Previous</a>
    <a href="{{ path('app_scheduled_maintenance', { 'date': start_date|date_modify('+1 month')|date('Y-m-d') }) }}" class="btn btn-primary">Next</a>
  </div>
  <div>
    <div class="btn-group" role="group">
      <a href="{{ path('app_scheduled_maintenance', { 'date': 'month' }) }}" class="btn btn-secondary">Month</a>
      <a href="{{ path('app_scheduled_maintenance', { 'date': 'week' }) }}" class="btn btn-secondary">Week</a>
      <a href="{{ path('app_scheduled_maintenance', { 'date': 'day' }) }}" class="btn btn-secondary">Day</a>
    </div>
  </div>
</div>

<div id="calendar" class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="week-name">{{ 'Monday'|trans }}</th>
        <th class="week-name">{{ 'Tuesday'|trans }}</th>
        <th class="week-name">{{ 'Wednesday'|trans }}</th>
        <th class="week-name">{{ 'Thursday'|trans }}</th>
        <th class="week-name">{{ 'Friday'|trans }}</th>
        <th class="week-name">{{ 'Saturday'|trans }}</th>
        <th class="week-name">{{ 'Sunday'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% set currentDate = start_date|date_modify('last Monday') %}
      {% for week in 1..num_weeks %}
        <tr>
          {% for day in 1..7 %}
            {% set isCurrentMonth = currentDate|date('m') == currentDate|date_modify('today', 'Europe/Vienna')|date('m') %}
            {% set isToday = currentDate|date('Y-m-d') == 'now'|date('Y-m-d') %}
            <td class="{% if not isCurrentMonth %}inactive{% endif %} {% if isToday %}today{% endif %}">
              <span class="day">{{ currentDate|date('d') }}</span>
              {% for maintenance in maintenanceEvents %}
                {% set maintenanceStart = maintenance.maintenanceStart|date('Y-m-d') %}
                {% set maintenanceEnd = maintenance.maintenanceEnd|date('Y-m-d') %}
                {% if currentDate|date('Y-m-d') >= maintenanceStart and currentDate|date('Y-m-d') <= maintenanceEnd %}
                  <div class="maintenance bg-info text-white">
                    {{ maintenance.system }}
                  </div>
                {% endif %}
              {% endfor %}
            </td>
            {% set currentDate = currentDate|date_modify('+1 day') %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}