<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Character encoding -->
   <meta charset="UTF-8">
   <!-- Responsive viewport -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Description of your web page -->
   <meta name="description" content="System Status Application">

   <!-- Define the author of a page -->
   <meta name="author" content="Abdulrhman Alshalal">

   <!-- Refresh document every 30 seconds -->
   {#
   <meta http-equiv="refresh" content="30"> #}

   <!-- Define No-cache meta tag -->
   <meta name="keywords" content="Status, maintenance, incident">
   <!-- Define keywords for search engines -->
   <meta http-equiv="cache-control" content="no-cache">
   {% if is_granted('ROLE_ADMIN') %}
   <title>Admin Dashboard</title>
   {% endif %}
   <title>System Status</title>
   <!--Favicon-->
   <link rel="icon" type="image/x-icon" href="{{asset('../img/favicon.png')}}">
   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">

   <!--Font Awesome-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   {#
   <link rel="stylesheet" href="../public/asset/fontawesome/css/css_all.min.css"> #}
   <!-- Bootstrap -->
   <link href="{{ asset('../public/asset/css/cdn.jsdelivr.net_npm_bootstrap@5.3.0_dist_css_bootstrap.min.css')}}"
      rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous">
   <script
      src="{{ asset('../public/asset/js/Bootstrap/cdn.jsdelivr.net_npm_bootstrap@5.3.0_dist_js_bootstrap.bundle.min.js')}}"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
   <script
      src="{{ asset('../public/asset/js/Bootstrap/cdn.jsdelivr.net_npm_@popperjs_core@2.11.8_dist_umd_popper.min.js')}}"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
   <script
      src="{{ asset('../public/asset/js/Bootstrap/cdn.jsdelivr.net_npm_bootstrap@5.3.0_dist_js_bootstrap.min.js')}}"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"></script>

   <!--Css-->
   <link rel="stylesheet" href="{{asset('../public/asset/css/style.css')}}">

   <!-- Include FullCalendar CSS -->
   <link rel="stylesheet" href="{{ asset('../public/asset/css/fullcalendar.min.css')}}">

   <!-- Include public/asset/js/calendar Maintenance/ JavaScript -->
   <script src="{{ asset('../public/asset/js/calendar Maintenance/moment.min.js') }}"></script>
   <script src="{{ asset('../public/asset/js/calendar Maintenance/fullcalendar.min.js') }}"></script>
   <script src="{{ asset('../public/asset/js/calendar Maintenance/calender.index.global.min.js')}}"></script>
  
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {% if is_granted('ROLE_USER') %}
      <a class="navbar-brand" href="{{ path('app_subscription') }}"><img src="{{asset('../img/logo.png')}}"
            alt="Anton Paar" width="150px"></a>
      {% else %}
      <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{asset('../img/logo.png')}}" alt="Anton Paar"
            width="150px"></a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto"></ul>
         <ul class="navbar-nav ml-auto">
            
            {% if app.user %}
            <li class="nav-item"> <a class="nav-link" href="{{ path('app_subscription') }}">Home</a>
            </li>
            <li class="nav-item">
               <!--Here Get All Systemes-->
               <a class="nav-link" href="{{ path('app_allSubscription') }}">Subscription</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_scheduled_maintenance')}}">Maintens Plan</a>
            </li>
            {% endif %}
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_contact')}}">
                  <i class="fa fa-phone fa-fw"></i> Contact</a>
            </li>
            <!--checks if there is a user currently logged in-->
            {% if app.user %}
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i></a>
            </li>
            <li class="nav-item">
               <span class="navbar-text text-warning">{{ app.user.username }}</span>
            </li>
            {% else %}
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_login') }}">
                  <i class="fa fa-sign-in"></i> Sign in
               </a>
            </li>
            {% endif %}
            <!-- Local Date-->
            <li class="nav-item">
               <span class="navbar-text ml-3">
                  <script>
                     const options = {
                        weekday: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                     };
                     const today = new Date().toLocaleDateString('en-US', options);
                     document.write(today);
                  </script>
               </span>
            </li>
         </ul>
      </div>
   </nav>
   <div class="container-fluid">
      <div class="row">
         <!-- User Dashboard Dropdown Links For View From Database -->
         {#
         <nav class="col-12 col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
               <p class="h3 text-dark pt-4">User Dashboard</p>
               {% if app.user %}
               <p class="h5 text-dark">Welcome, {{ app.user.username }}</p>
               {% endif %}
               <ul class="nav flex-column pt-5">
                  <li class="nav-item">
                     <a class="nav-link active" href="{{ path('app_system_status') }}">System Status</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ path('app_status') }}">View All Status</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ path('app_system') }}">View All Systems</a>
                  </li>
                  <li class="nav-item"></li>
               </ul>
            </div>
         </nav>
         #}
         {% if app.user %}
         <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
            <div
               class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
               <h3 class="h3">System Status</h3>
               <div class="btn-toolbar mb-2 mb-md-0">
                  {% endif %}
               </div>
            </div>