{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h2 class="bg-danger text-center text-white rounded-pill ">Create New Incident Event</h2>
    {{ form_start(form) }}
    {{ form_row(form.system) }}
    {{ form_row(form.type) }}
    {{ form_row(form.emailtemplate, {'attr': {'class': 'template-select'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'email-field template-textarea readonly'}}) }}
    <button type="submit" class="btn btn-primary">Create Event</button>
    {{ form_end(form) }}
</div>

<script>
    // Add event listener to emailtemplate dropdown
    const templateSelect = document.querySelector('.template-select');
    const emailField = document.querySelector('.email-field');
    
    templateSelect.addEventListener('change', () => {
        const selectedTemplateId = templateSelect.value;
        if (selectedTemplateId) {
            fetch(`http://localhost:8080/public/template/${selectedTemplateId}/get-template-content/`)
                .then(response => response.text())
                .then(content => {
                    console.log(content)
                    console.log(emailField)
                    console.log(`http://localhost:8080/public/template/${selectedTemplateId}/get-template-content/`)
                    emailField.value = content; // Populate email textarea
                })
                .catch(error => {
                    console.error('Error fetching template content:', error);
                });
        } else {
            emailField.value = ''; // Clear email textarea if no template selected
             // Disable emailField and add readonly class
                emailField.disabled = true;
                emailField.classList.add('readonly');
        }
    });
</script>
{% endblock %}
